body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  background-color: #f4f4f4;
}

header a {
  margin-left: 2rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  color: #404040;
  /* text-decoration: underline; */
  border-bottom: 1px solid #40404000;
}

header a:hover {
  border-bottom: 1px solid #404040;
}

nav {
  display: flex;
  border-bottom: 1px solid #dbdbdb;  
  margin-bottom: 1rem;
}

nav > div {
  padding: 1rem 2rem;
}

nav > div.brand {
  flex: 1;
  font-size: 1.5rem;
  text-align: center;
}

nav > div.nav-tabs {
  flex: 2;
  display: flex;
  align-items: center;
}

.nav-tabs a {
  margin-left: 2rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  color: #404040;
  transition: 0.3s;
  border-bottom: 1px solid #40404000;  
}

.nav-tabs a:hover {
  border-bottom: 1px solid #404040;  
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs button {
  background: none;
  border: none;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: #404040;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tabs button.active {
  border-bottom: 3px solid #404040;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  /* width: 100%; */
  /* padding:  */
}

form > span {
  display: flex;
  flex-direction: column;
  width: 20rem;
  text-align: left;
  margin: 0.5rem 0;
}

form label {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 600;
}

form input {
  padding: 0.6rem 1.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form button {
  width: 20rem;
  cursor: pointer;
  padding: 0.6rem 1.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.table-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

table {
  text-align: left;
}

th, td {
  padding: 0.5rem 1rem;

}

footer {
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: space-between;
}

footer p {
  margin-left: 10rem;
  padding: 0.2rem 0.5rem;
}

footer div.nav-tabs {
  margin-right: 10rem;
  padding: 1.2rem 0.5rem;
}